.div{
    text-align: center;
    border: 1px solid black;
    width: 50%;
    margin-left: 350px;
    margin-top: 100px;
    box-shadow: 15px 15px 15px #C3C3C3;
    box-sizing: border-box;
    opacity: 150%;
}
.button{
    border-radius: 200em;
}
.input{
    border: none;
    border-bottom: 1px solid rgb(128, 121, 121);
    border-radius: 0;
    width: 35%;
}
.input:focus{
    border-bottom:2px solid black;
    outline: none;
}
.select{
    width: 35%;
    margin-left: 80px;
}
.label{
    font-weight: bold;
    transform: translate(-50%,2%);
}
.span{
    font-size: 30px;
    font-weight: bolder;
}
.small{
    color:red
}
